body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 45%;
    margin: auto;
    border: 3px solid #000;
}
.box1 img{
    width: 100%;
}
.box .box1 {
    width: 45%;
    margin: auto;
}
h3{
    font-style: italic;
    color: red;
}